.header{
    padding:30px ;
}
.logo{
    font-size: x-large;
    font-weight: 500;
    font-family:fantasy;
    padding-bottom: 10px;
    padding-left: 5px;
}

.home-container{
    height:100vh;
    background-color: aquamarine;
}
.profile-container{
    text-align: center;    
    padding-top: 55px;
}
.profile-intro{
    padding:50px;
    
}
.intro{
    font-size: 30px;
    font-weight: 300;
}
.profile-name{
    font-size: 50px;
    font-weight: 700;
}
.title{
    height: 50px;
    overflow: hidden;
}
.title-wrapper{
  
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}
@keyframes move {
    50%{
    transform: translateY(-50px);
    }
    75%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(-150px);
    }
}
.title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color:darkgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg{
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
background-color:darkslategrey;
width: 100%;
height: 100%;
}

@media screen and (max-width:480px){
    .profile-container{
        flex-direction: column;
    }
    .profile-intro{
        
        padding: 15px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .title{
        width: 100%;
        height: 40px; 
        margin-bottom: 15px;  
     }
     .title-item{
         font-size: 25px;
         
     }
}